@font-face {
    font-family: 'uncanny';
    src: url("../../UncannyRegular.ttf") format("truetype"), url("../../UncannyRegular.woff") format("woff");
  }

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 99vw;
    height: 150px;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    margin-bottom: 20px;
    border-radius: 0 0 85% 85% / 70%;
    position: fixed;
    font: 100% uncanny;
    font-size: 50px;
}

.headerContainer div {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: center;
}

.headerContainer img {
    width: 100px;
    height: 100px;
}

@media (max-width: 1050px) {
    .headerContainer {
        justify-content: space-evenly;
    }
    .headerContainer div {
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media (max-width: 860px) {
    .headerContainer {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            font-size: 30px;
    }
}

@media (max-width: 450px) {
    .headerContainer {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            font-size: 30px;
    }
}