.App {
  text-align: center;
  background-image: url('candyBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: scroll;
  width: 100vw;
  height: 100vh;
}